spring:
  profiles:
    active: mysql

  application:
    name: novatech-blog-backend

  jackson:
    serialization:
      write-dates-as-timestamps: false
    time-zone: UTC

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.h2.H2ConsoleAutoConfiguration

server:
  port: 8080
  error:
    include-message: always
    include-binding-errors: always

jwt:
  secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
  expiration: 86400000  # 24 hours in milliseconds